.navbar{
    
    background: #fd581e;
    color: white;
    
}
.logo{
    color: white;
}
.navbar-navi li{
    list-style: none;
    margin-right: 25px;
    
}
/* .navbar-navi li a{
    text-decoration: none;
    color: white;
}
.navbar-navi li a .active{
    color:black;
} */